* {
  font-family: 'Helvetica Neue';
  font-weight: light;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 32px;
}
h1 {
  font-weight: 100;
  font-size: 3.5em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.col-md-10 {
  max-width: 1000px;
}
.navbar {
  background-color: rgba(2, 2, 2, 0.8);
  margin: 0;
  border: 0;
  border-radius: 0;
  color: white;
  height: 50px;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 100;
  color: white;
}
@media (min-width: 768px) {
  .navbar-brand {
    font-weight: 100;
    color: white;
  }
}
.container {
  width: 100%;
  padding: 75px 10%;
}
.primary-button {
  font-weight: 600;
  font-size: 15px;
  margin: 15px 0;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  border: solid white 2px;
  color: white;
  display: inline-block;
  text-align: center;
  background: transparent;
  min-width: 130px;
}
.primary-button:hover {
  border: solid white 2px;
  color: #a42833;
  background: white;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a42833;
  opacity: 0.5;
}
.content .col-md-9 {
  padding-left: 50px;
}
@media screen and (max-width: 736px) {
  .content .col-md-9 {
    padding-left: 15px;
  }
}
#title-container {
  text-align: center;
  position: relative;
  color: white;
  padding: 0;
  background-size: cover;
  background-position: center;
}
#title-container .title-content {
  position: absolute;
}
#introduction-container {
  background-color: #a42833;
  padding-top: 25px;
}
#introduction-container .content {
  margin-top: 50px;
  color: white;
}
.information-box .row {
  margin-bottom: 20px;
}
.information-box img {
  display: inline-block;
  float: left;
  width: 35px;
  height: 30px;
  margin-right: 20px;
}
@media screen and (max-width: 736px) {
  .information-box {
    display: none;
  }
}
#introduction-container .primary-button.learn-more {
  margin: 0 auto;
  display: block;
}
#main-content .col-md-8 {
  padding: 0 60px;
  max-width: 700px;
}
@media screen and (max-width: 736px) {
  #main-content .col-md-8 {
    padding: 0 15px;
  }
}
#main-content .header-text {
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #a42833;
  text-transform: uppercase;
}
#main-content .sub-header-text {
  text-align: left;
  font-size: 30px;
  line-height: 60px;
  color: #a42833;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 736px) {
  #main-content .sub-header-text {
    line-height: 50px;
  }
}
#main-content .introduction {
  margin-top: 100px;
  margin-bottom: 50px;
}
#main-content .large-article-image {
  height: 400px;
  background-size: cover;
  padding: 0;
  margin: 20px 0;
}
@media screen and (max-width: 736px) {
  #main-content .large-article-image {
    height: 200px;
  }
}
#main-content .quote {
  width: 80%;
  font-size: 30px;
  line-height: 40px;
  color: #a42833;
  padding: 10px;
}
#main-content .quote.left {
  float: left;
  margin-left: -30%;
}
#main-content .quote.right {
  float: right;
  margin-right: -30%;
}
@media screen and (max-width: 736px) {
  #main-content .quote {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }
  #main-content .quote.right {
    float: none;
    margin: 20px 0 20px 0;
  }
  #main-content .quote.left {
    float: none;
    margin: 20px 0 20px 0;
  }
}
#main-content .small-image {
  height: 150px;
  background-size: cover;
  margin: 30px 0;
}
@media screen and (max-width: 736px) {
  #main-content .small-image {
    margin: 5px 0;
  }
}
@media screen and (min-width: 1600px) {
  #main-content .large-article-image {
    height: 650px;
  }
  #main-content .small-image {
    height: 250px;
  }
}
#bottom-container.container {
  background-color: #a42833;
  color: white;
}
#bottom-container .primary-button.visit-sp {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
#black-footer.container {
  color: white;
  background-color: black;
}
#bottom-navigation.container .previous {
  display: inline;
  position: relative;
  left: 0;
}
#bottom-navigation.container .next {
  display: inline;
  position: relative;
  right: 0;
}
#bottom-navigation.container .previous-article-text {
  float: left;
  text-align: left;
  margin-left: 20px;
  height: 100%;
  width: 30%;
}
#bottom-navigation.container img.arrow.previous {
  float: left;
}
#bottom-navigation.container .next-article-text {
  float: right;
  text-align: right;
  margin-right: 20px;
  height: 100%;
  width: 30%;
}
#bottom-navigation.container img.arrow.next {
  float: right;
  height: 75px;
}
#bottom-navigation .related-stories {
  padding: 0;
}
#bottom-navigation .related-stories {
  padding: 0;
  text-align: center;
}
#bottom-navigation .related-stories .title {
  margin-top: 150px;
  border-bottom: 1px solid #666666;
  margin-bottom: 10px;
}
#bottom-navigation .article-wrapper {
  margin: 5px;
}
#bottom-navigation .article-image {
  height: 150px;
}
#bottom-navigation .article-information-desktop {
  height: 150px;
  background: #EEEEEE;
}
#bottom-navigation .article-information-desktop .article-type {
  font-size: 14px;
  font-weight: 200;
  margin-top: 10px;
}
#bottom-navigation .overlay,
.article-information-mobile {
  display: none;
}
#bottom-navigation .bottom-nav-wrapper {
  padding: 15px;
}
@media screen and (max-width: 736px) {
  #bottom-navigation .bottom-nav-wrapper {
    padding: 0;
  }
  #bottom-navigation.container .previous-article-text {
    width: 125px;
    font-size: 12px;
  }
  #bottom-navigation.container .next-article-text {
    width: 125px;
    font-size: 12px;
  }
  #bottom-navigation .article-wrapper {
    margin: 10px 0 10px 0;
  }
  #bottom-navigation .article-image {
    height: 200px;
    padding: 20px;
  }
  #bottom-navigation .related-stories .title {
    margin-top: 200px;
  }
  #bottom-navigation .article-information-desktop {
    display: none;
  }
  #bottom-navigation .overlay {
    display: inline;
  }
  #bottom-navigation .article-information-mobile {
    text-align: center;
    position: relative;
    color: white;
    z-index: 10;
    margin: 0 auto;
    display: inline;
  }
  #bottom-navigation .article-type {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  #bottom-navigation .article-title {
    font-size: 22px;
  }
}
