* {
  font-family: "aktiv-grotesk-std", Helvetica, Arial, sans-serif; /* 1 */
  font-weight: 300;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

  font-size: 14px;
}

h1 {
  font-weight: 200;
}

.container {
  width: 100%;
  padding: 30px 100px;
}

.primary-button {
  font-weight: 600;
  font-size: 15px;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  border: solid black 2px;
  color: black;
  display: inline-block;
  text-align: center;
  background: transparent;
  min-width: 130px;
}

#title-container {
  background-color: pink;
  text-align: center;
}

#introduction-container {
  background-color: #A42833;
}
#introduction-container .content {
  margin-top: 50px;
}
.primary-button.learn-more {
  margin: 0 auto;
  display: block;
}
