<div class="container" id="title-container">
	<div class="overlay"></div>
	<div class="col-md-12">
		<h1>{{ page-title }}</h1>
		<button type="button" class="primary-button">Watch Video</button>
	</div>
</div>

<div class="container" id="introduction-container">
	<div class="row">
		<button type="button" class="primary-button learn-more">Learn More</button>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-sm-3 col-md-3 information-box">
				<div class="row">
					<div class="col-md-12" id="author">
						<strong>Future Probe</strong><br>
						{{ #team }}
						{{ author1 }},<br> {{ author2 }},<br> {{ author3 }}<br>
						{{ /team }}
						First Published: {{ publish-date }}<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/twitter.png"><img src="images/like.png">
					</div>
				</div>
				<div class="row" style="margin-bottom: 0">
					<div class="col-md-12">
						<button class="primary-button download">Download PDF</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-8 col-md-offset-1">
				The Gen Z Project is a qualitative study into an extraordinary new generation (those born after 1995). We’ve spent time with influential members of Gen Z leading progressive lifestyles to illuminate the cultural shifts that they are creating, as the attitudes and behaviours they are forming today will influence the future consumer landscapes of tomorrow.<br><br>
				This microsite contains a snap shot of our findings.
			</div>
		</div>
	</div>
</div>

{{ #article }}
<div class="container" id="main-content">

	<div class="header-text">{{ heading }}</div>

	<div class="col-md-8 col-md-offset-2">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.

		<div class="row">
			<div class="col-md-12">
				<div class="large-article-image" style="background-image: {{ large-article-image }}">
					<div class="overlay"></div>
				</div>
			</div>
		</div>

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br><br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.

		<div class="quote right">
			He often claimed that his biggest single contribution to the development of practical electronics was his sand-exluding technology for electrical relays... stretching a condom over them.
		</div>

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br><br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br><br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.

		<div class="quote left">
			Inventors, that name we'd almost forgotten in our haste to adopt marketing buzzwords, are on the rise again. Inventors- people who spot needs and then get out the toilet rolls and sticky-backed plastic to nail the theory.
		</div>

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna tortor, tincidunt ac tristique sit amet, condimentum ut erat. Mauris sem mi, ultrices et hendrerit vitae, hendrerit non tortor. Aliquam erat volutpat. Morbi eget leo lorem, ut placerat nisl. Aenean auctor volutpat condimentum. Morbi adipiscing leo et felis faucibus suscipit nec at odio. Pellentesque convallis turpis non sapien facilisis quis volutpat magna venenatis. Etiam nisi metus, imperdiet vitae lobortis sit amet, pharetra ut leo.
		<br>
	</div>

	<div class="col-md-4">
		<div class="col-md-12 small-image" style="{{ small-image-1 }}">
			<div class="overlay"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-12 small-image" style="{{ small-image-2 }}">
			<div class="overlay"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="col-md-12 small-image" style="{{ small-image-3 }}">
			<div class="overlay"></div>
		</div>
	</div>

</div>
{{ /article }}

<div class="container" id="bottom-container">
	<div class="content">
		<div class="row">
			<div class="col-sm-3 col-md-3 information-box">

				<div class="row">
					<div class="col-md-12">
						<button class="primary-button download">Download PDF</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/twitter.png"><img src="images/like.png">
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-8 col-md-offset-1">
				The Gen Z Project is a qualitative study into an extraordinary new generation (those born after 1995). We’ve spent time with influential members of Gen Z leading progressive lifestyles to illuminate the cultural shifts that they are creating, as the attitudes and behaviours they are forming today will influence the future consumer landscapes of tomorrow.<br><br>
				This microsite contains a snap shot of our findings.
			</div>
		</div>
	</div>
</div>

<div class="container" id="bottom-navigation">
	<div class="row">

		<a href="#">
			<div class="col-md-5 previous">
				<img class="arrow previous" src="./images/left-arrow.png"/>
				<div class="previous-article-text">
					<span style="font-weight:200">Next</span><br>
					RETHINKING CHRISTMAS FOOD WASTE
				</div>
			</div>
		</a>

		<a href="#">
			<div class="col-md-5 col-md-offset-2 next">
				<img class="arrow next" src="./images/right-arrow.png"/>
				<div class="next-article-text">
					<span style="font-weight:200">Previous</span><br>
					RETHINKING CHRISTMAS FOOD WASTE
				</div>
			</div>
		</a>

		<div class="container related-stories">
			<div class="row title">
				Related Stories
			</div>

			{{ #other-articles }}

			<div class="row">

				{{ #article-1 }}
				<a href="#">
					<div class="col-md-3 article">
						<div class="article-wrapper">
							<div class="row">
								<div class="col-md-12 article-image" style="background-image: url( {{ image }} ); background-size: cover;">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 article-information">
									<div class="article-type">{{ type }}</div>
									<div class="article-title">{{ title }}</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{ /article-1 }}

				{{ #article-2 }}
				<a href="#">
					<div class="col-md-3 article">
						<div class="article-wrapper">
							<div class="row">
								<div class="col-md-12 article-image" style="background-image: url( {{ image }} ); background-size: cover;">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 article-information">
									<div class="article-type">{{ type }}</div>
									<div class="article-title">{{ title }}</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{ /article-2 }}

				{{ #article-3 }}
				<a href="#">
					<div class="col-md-3 article">
						<div class="article-wrapper">
							<div class="row">
								<div class="col-md-12 article-image" style="background-image: url( {{ image }} ); background-size: cover;">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 article-information">
									<div class="article-type">{{ type }}</div>
									<div class="article-title">{{ title }}</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{ /article-3 }}

				{{ #article-4 }}
				<a href="#">
					<div class="col-md-3 article">
						<div class="article-wrapper">
							<div class="row">
								<div class="col-md-12 article-image" style="background-image: url( {{ image }} ); background-size: cover;">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 article-information">
									<div class="article-type">{{ type }}</div>
									<div class="article-title">{{ title }}</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				{{ /article-4 }}

			</div>

			{{ /other-articles }}


		</div>

	</div>
</div>

<footer class="container" id="black-footer">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				seymourpowell ltd <br>
				the factory, 265 merton road, <br>
				london, sw18 5js
			</div>
			<div class="col-md-4">
				+44 (0)20 7381 6433 <br>
				mariel.brown@seymourpowell.com
			</div>
			<div class="col-md-4">
				&copy;2015 seymourpowell <br>
				disclaimer
			</div>
		</div>
	</div>
</footer>
