{{> header }}

	<div class="container" id="title-container">
		<div class="col-md-12">
			<h1>{{ page-title }}</h1>
			<button type="button" class="primary-button">Watch Video</button>
		</div>
	</div>

	<div class="container" id="introduction-container">
		<div class="row">
			<button type="button" class="primary-button learn-more">Learn More</button>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-sm-3 col-md-3" class="information-box">
					<div class="row">
						<div class="col-md-12" id="author">
							<strong>Future Probe</strong><br>
							By Mariel Brown,<br> Theo Bridge,<br> Emily Riggs<br>
							<!--First Published: DECEMBER 24, 2014<br>-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-via="seymourpowell" data-hashtags="genz">Tweet</a></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="primary-button download">Download PDF</button>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-8 col-md-offset-1">
					The Gen Z Project is a qualitative study into an extraordinary new generation (those born after 1995). We’ve spent time with influential members of Gen Z leading progressive lifestyles to illuminate the cultural shifts that they are creating, as the attitudes and behaviours they are forming today will influence the future consumer landscapes of tomorrow.<br><br>
					This microsite contains a snap shot of our findings.
				</div>
			</div>
		</div>
	</div>

{{> footer }}
